# Grab scsn_p_2000_2017_6sec_0.5r_pick_train.hdf5, then split the waveforms in half (total number of waveforms should double).
# Source: http://scedc.caltech.edu/research-tools/deeplearning.html
data/*
